{% extends 'base.html' %}

{% block title %} Home {% endblock %}
{% block body %}
<div class="container">
    <h1>{{message.text}}</h1>
    <h3>Project 4 </h3>
    <div class="" id="resp"></div>
    <form id="regFrm" onsubmit="register(this); return false"  autocomplete="off">
      <div class="form-group">
        <label for="name">Customer Name</label>
        <input type="text" class="form-control" id="name" name="name" autocomplete="off" aria-describedby="emailHelp" placeholder="First name Last name"  required>
      </div>
      <div class="form-group">
        <label for="email">Email address</label>
        <input type="email" class="form-control" id="email" name="email" autocomplete="off" aria-describedby="emailHelp" placeholder="Enter email" required>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" id="password" name="password" autocomplete="off" placeholder="Password" required>
      </div>
      <button type="submit" class="btn btn-primary">Register</button>
</form>

</div>
{% endblock %}